*.class
*.log
/.idea/
.idea/
galil-assembly/src/test/java/
galil-assembly/src/test/scala-2.12/
galil-assembly/target/scala-2.12/classes/GalilAssembly.conf
galil-assembly/target/scala-2.12/classes/GalilAssemblyAndHcd.conf
galil-assembly/target/scala-2.12/classes/application.conf
galil-assembly/target/scala-2.12/resolution-cache/
galil-assembly/target/streams/
galil-client/target/scala-2.12/classes/application.conf
galil-client/target/scala-2.12/resolution-cache/
galil-client/target/streams/
galil-commands/target/scala-2.12/classes/GalilCommands.conf
galil-commands/target/scala-2.12/resolution-cache/
galil-commands/target/streams/
galil-hcd/target/scala-2.12/classes/GalilHcd.conf
galil-hcd/target/scala-2.12/classes/application.conf
galil-hcd/target/scala-2.12/resolution-cache/
galil-hcd/target/streams/
galil-io/target/scala-2.12/classes/reference.conf
galil-io/target/scala-2.12/resolution-cache/
galil-io/target/streams/
galil-repl/target/
galil-simulator/target/
java-assembly/
java-hcd/
project/project/target/config-classes/$554dde886723b83247ba.cache
project/target/config-classes/$899290c017f7e7e537be.cache
project/target/config-classes/$98839118e8bad4cbdd53.cache
project/target/scala-2.10/sbt-0.13/classes/sbt/
project/target/scala-2.10/sbt-0.13/resolution-cache/
project/target/scala-2.10/sbt-0.13/resource_managed/
project/target/scala-2.12/sbt-1.0/classes/sbt/
project/target/scala-2.12/sbt-1.0/resolution-cache/
project/target/scala-2.12/sbt-1.0/resource_managed/
project/target/streams/
scala-assembly/
scala-hcd/
target/
